<form id="roleForm" (ngSubmit)="submit()" [formGroup]="form">
    <mat-form-field>
        <mat-label>Role</mat-label>
        <input matInput name="role" placeholder="Role" class="form-control" formControlName="role">
        <!-- Mensajes de error -->
        <mat-error *ngIf="roleName && roleName?.hasError('required')">El role es obligatorio</mat-error>
    </mat-form-field>

    <br>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Enviar</button>
</form>

<button type="button" (click)="goBack()">go back</button>