
<app-header></app-header>
<!--<nav> 
  <a   routerLink="/dashboard">Dashboard</a>
   <a   routerLink="/heroes">Heroes</a>
   <a   routerLink="/usuarios">Usuarios</a>
   <a   routerLink="/roles">Roles</a>
   <a   routerLink="/localidades">Localidades</a>
   <a   routerLink="/clientes">Clientes</a>
   <a  routerLink="/contactos">Contactos</a>

</nav>-->
<main role="main" class="container-position">
  <div class="container-fluid">
   
    <router-outlet></router-outlet>
    <!--<app-messages></app-messages>-->

    <!--<app-roles></app-roles>-->
  </div>
</main>
<app-footer></app-footer>