<app-header></app-header>  <!-- Aquí se muestra el Header -->

<main role="main" class="container-position">
  <div class="container-fluid">
    <!-- Aquí es donde se cargarán las vistas de acuerdo con las rutas definidas -->
    <!-- <nav>
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/usuarios">Usuarios</a>
      <a routerLink="/roles">Roles</a>
      <a routerLink="/notas">Notas</a>
      Otros enlaces según sea necesario
    </nav> -->
    <router-outlet></router-outlet>
  </div>
</main>

<app-footer></app-footer>  

<!-- Aquí se muestra el Footer -->

<!-- Si decides usar enlaces de navegación en el futuro, puedes descomentar el siguiente bloque de código -->



