<h2>Alumnos</h2>
<a class="btn btn-primary" routerLink="new"><fa-icon [icon]="faCirclePlus"></fa-icon>&nbsp;Añadir</a>

<!-- SweetAlert2 de confirmación -->
<swal #confirmDialog title="Are you sure?" text="This cannot be undone" icon="question" [showDenyButton]="true"
  [focusCancel]="true"></swal>

<!-- SweetAlert2 de éxito -->
<swal #swal1 title="Eliminado correctamente" text="Eliminado de la base de datos" icon="success"></swal>

<!-- Tabla con DataTables -->
<table datatable [dtOptions]="dtOptions" class="row-border hover"></table>