<h2>Roles</h2>
<!-- <ul class="roles">
  <li *ngFor="let r of roles">
    <a routerLink="/roles/detail/{{r.id}}">
      <span class="">{{r.role}}</span>
    </a>
    <button type="button" class="delete" title="delete role" (click)="delete(r)">x</button>
  </li>
</ul> -->

<ng-template #demoNg let-data="adtData" let-emitter="captureEvents">
</ng-template>

<swal #confirmDialog title="Are you sure?" text="This cannot be undone" icon="question" [showDenyButton]="true"
  [focusCancel]="true"></swal>
<swal #swal1 title="Eliminado correctamente" text="Eliminado de la base de datos" icon="success"></swal>

<table datatable [dtOptions]="dtOptions" class="row-border hover"></table>

<form #rolenew="ngForm" (ngSubmit)="onClickSubmit(rolenew.value)">
  <input type="text" name="role" placeholder="Role Name" ngModel />
  <br>
  <input type="submit" value="submit">
</form>